.cartitems{
    margin: 50px 140px;
}

.cartitems hr{
    height: 2px;
    background-color: #e2e2e2;
    border: 0;
}

.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 15px 0px;
    color: #454545;
    font-size: 16px;
    font-weight: 600;
}

.cartitems-format{
    font-size: 18px;
    font-weight: 500;
}

.cartitems-format p,.cartitems-quantity{
    margin-left: 11px;
    font-size: 15px;
}

.carticon-product-icon{
    height: 50px;
}

.cartitems-remove-icon{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}

.cartitems-quantity{
    width: 62px;
    height: 45px;
    border: 2px solid #ebebeb;
    background-color: #fff;
}

.cartitems-down{
    display: flex;
    margin: 50px 0px;
}

.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 10px;
}

.cartitems-total h1{
    font-size: 1.5rem;
}

.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.cartitems-total button{
    width: 250px;
    height: 50px;
    outline: none;
    border: none;
    background-color: #ff5a5a;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.cartitems-promocode{
    flex: 1;
    font-size: 15px;
    font-weight: 500;
}

.cartitems-promocode p{
    color: #555;
}

.cartitems-promobox{
    width: 420px;
    margin-top: 10px;
    padding-left: 15px;
    height: 50px;
    background-color: #eaeaea;
}

.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 15px;
    width: 255px;
    height: 50px;
}

.cartitems-promobox button{
    width: 150px;
    height: 50px;
    font-size: 16px;
    background-color: black;
    color: white;
    cursor: pointer;
}

/* Media Queries */

@media screen and (max-width: 900px) {
    .cartitems{
        margin: 30px 50px;
    }   

    .cartitems-total{
        margin-right: 4.375rem;
        gap: 10px;
    }
    
    .cartitems-format p{
        margin-left: 30px;
        font-size: 0.8rem;
    }

    .cartitems-format-main{
        gap: 70px;
        padding: 15px 0px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px){

    .cartitems{
        margin: 0px 20px;
    }  

    .cartitems-format{
        font-size: 1px;
        font-weight: 500;
        margin: 0px 0px;
    }

    .cartitems-format-main{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
        align-items: center;
        gap: 5px;
        padding: 15px 0px;
        color: #454545;
        font-size: 0.5rem;
        font-weight: 600;
    }   


    .cartitems-format p,.cartitems-quantity{
        margin-left: 1.625rem;
        font-size: 0.5rem;
    }

    .carticon-product-icon{
        height: 40px;
    }

    .cartitems-quantity{
        width: 30px;
        height: 25px;
        border: 2px solid #ebebeb;
        background-color: #fff;
    }

    .cartitems-down{
        display: flex;
        flex-direction: column-reverse;
        margin: 50px 0px;
    }

    .cartitems-promocode{
        margin-bottom: 5.625rem;
    }

    .cartitems-promobox{
        width: 200px;
        margin-top: 10px;
        padding-left: 1px;
        height: 50px;
    }

    .cartitems-promobox input{
        font-size: 15px;
        width: 100%;
        height: 50px;
        text-align: center;
    }

    .cartitems-promobox button{
        width: 200px;
        height: 50px;
        font-size: 16px;
        background-color: black;
        color: white;
        cursor: pointer;
    }

}