@import url("../../fonts/Futura/Futura.css");
@import url("../../fonts/MonaSans/MonaSans.css");
.hero{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px 8.75rem;
    margin-bottom: 6.25rem;
}

.hero-left{
   width: 50%;
   height: 85vh;
   display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
    gap: 1.25rem;
    line-height: 1.1;
    background-color: #E0EDF5;

}

.hero-title{
    font-family: MonaSans;
    font-size: 5rem;
    width: 43.75rem;
    line-height: 1.2;
}

.hero-latest-btn{
    padding: 1.5rem 1.875rem;
    background: #101010;
    width: 20rem;
    color: #fff;
    outline: none;
    border: none;
    font-family: Helvetica;
    display: flex;
    font-weight: bolder;
    letter-spacing: 0.25rem;
    border-radius:2.5rem;
    cursor: pointer;
}

.hero-right{
    width: 50%;
    background-color: #F2F7FA;
    height: 85vh;
}

.hero-right img{
    width: 87vh;
    height: 85vh;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
    .hero-left{
         padding-left: 2.5rem;
     
     }
    .hero-title{
        font-family: MonaSans;
        font-size: 4.5rem;
        width: 43.75rem;
    }
}

@media screen and (max-width: 900px) {
    .hero{
        flex-direction: column;
        padding: 2.5rem;
    }
    
    .hero-left{
        width: 100%;
       height: 42vh;
    }
    
    .hero-title{
        font-size: 4.5rem;
        margin-left: 2rem;
    }
    
    .hero-latest-btn{
        margin-left: 2rem;
    }
    
    .hero-right{
        width: 100%;
        height: 45vh;
    }
    
    .hero-right img{
        width: 45vh;
        height: 45vh;
    }

}

@media screen and (max-width: 768px) {
    .hero{
        flex-direction: column;
        padding: 0;
    }
    
    .hero-left{
       width: 100%;
       height: 35vh;
        padding-left: 1rem;
        gap: 1rem;
    }
    
    .hero-title{
        font-size: 2.5rem;
    }
    
    .hero-latest-btn{
        padding: 0.5rem 0.875rem;
        background: #101010;
        width: 16rem;
        letter-spacing: 0.2rem;
    }
    
    .hero-right{
        width: 100%;
        height: 48vh;
    }
    
    .hero-right img{
        width: 48vh;
        height: 48vh;
    }
    
}

