.descriptionbox{
    margin: 7.5rem 9.375rem;
}

.descriptionbox-navigator{
    display: flex;
}

.descriptionbox-nav-box{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    width: 170px;
    height: 60px;
    border: 1px solid #d0d0d0;
}

.descriptionbox-nav-box.fade{
    background-color: #FBFBFB;
    color: #555;
}

.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 1.563rem;
    border: 1px solid #D0D0D0;
    padding: 3rem;
    padding-bottom: 4.375rem;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
    .descriptionbox{
        margin: 6.25rem 5.625rem;
    }
    
    .descriptionbox-nav-box{
        font-size: 0.938rem;
        font-weight: 600;
        width: 9.375rem;
        height: 3.125rem;
    }
    
    .descriptionbox-description{
        gap: 1.25rem;
        padding: 1.75rem;
        padding-bottom: 2.5rem;
    }
    

}

@media screen and (max-width: 900px) {
    .descriptionbox{
        margin: 5.5rem 3.375rem;
        width: 90%;
    }

}

@media screen and (max-width: 768px) {
    .descriptionbox{
        margin: 0.625rem 1.25rem;
        width: 90%;
    }

    .descriptionbox-nav-box{
        width: 100%;
    }

}