.breadcrum{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5e5e5e;
    font-size: 14px;
    font-weight: 600;
    margin: 40px 150px;
    text-transform: capitalize;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
    .breadcrum{
        gap: 5px;
        margin: 40px 90px;
    }
}

@media screen and (max-width: 900px) {
    .breadcrum{
        margin: 40px 45px;
    }
}

@media screen and (max-width: 768px) {

    .breadcrum{
        gap: 2px;
        margin: 0px 10px 30px 10px;
        font-size: 0.55rem;
    }
}